h2 {
    font-family: 'Amatic SC';
    font-size: 4rem;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
    text-align: start;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: rgb(59, 75, 33);
}

