<h4> Categoria: {{ planta.tipo }} </h4>
<article>
    <header>
        <h2> {{ planta.genero }} {{ planta.especie }} </h2>
    </header>
    <div class="coluna">
        <div>
            <h3>
                <div class="coluna">
                    <label> Dados gerais: </label>
                    <div class="posicao">
                        <button (click)="atualizarDados(planta.id!)" type="button">Alterar</button>
                    </div>
                </div>
                <ul>
                    <li> Nome científico:
                        <strong class="fonte"> {{ planta.genero }} {{ planta.especie }}</strong>
                    </li>
                    <li *ngIf="planta.nomePopular"> Nome popular:
                        <strong class="fonte"> {{ planta.nomePopular }} </strong>
                    </li>
                    <li> Gênero:
                        <strong class="fonte">
                            <a> {{ planta.genero }} </a>
                        </strong>
                    </li>
                    <li> Espécie:
                        <strong class="fonte"> {{ planta.especie }} </strong>
                    </li>
                    <li *ngIf="planta.especificacao">
                        Especificação:
                        <strong class="fonte"> {{ planta.especificacao }} </strong>
                    </li>
                    <li> Tipo de planta:
                        <strong class="fonte"> {{ planta.tipo }} </strong>
                    </li>
                    <li *ngIf="planta.detalhe">
                        Você sabia?
                        <p class="fonte"> {{ planta.detalhe }} </p>
                    </li>
                </ul>
            </h3>
        </div>
        <div class="alinhar">
            <img src="{{ planta.imagem }}" width="50%">
        </div>

        <h3 *ngIf="cuidado">
            <div class="coluna">
                <label> Cuidados: </label>
                <div class="posicao">
                    <button (click)="atualizarCuidados(planta.id!)" type="button">Alterar</button>
                </div>
            </div>
            <ul>
                <li *ngIf="cuidado.substrato"> Substrato:
                    <strong class="fonte">
                        {{ cuidado.substrato }}
                    </strong>
                </li>
                <li *ngIf="cuidado.rega"> Rega:
                    <strong class="fonte">
                        {{ cuidado.rega }}
                    </strong>
                </li>
                <li *ngIf="cuidado.iluminacao"> Iluminação:
                    <strong class="fonte">
                        {{ cuidado.iluminacao }}
                    </strong>
                </li>
                <li *ngIf="cuidado.temperatura"> Temperatura:
                    <strong class="fonte">
                        {{ cuidado.temperatura }}
                    </strong>
                </li>
                <li *ngIf="cuidado.umidade"> Umidade do ar:
                    <strong class="fonte">
                        {{ cuidado.umidade }}
                    </strong>
                </li>
                <li *ngIf="cuidado.ventos"> Ventos:
                    <strong class="fonte">
                        {{ cuidado.ventos }}
                    </strong>
                </li>
            </ul>
        </h3>
    </div>

    <div *ngIf="!cuidado" class="botao">
        <button (click)="adicionarCuidados(planta.id!)">Adicionar cuidados</button>
    </div>

</article>