h2 {
    font-family: 'Avocado Cake';
    font-size: 2.8rem;
    font-weight: bold;
    padding-left: 5%;
    text-align: center;
    margin-bottom: 5%;
}

label {
    font-family: 'Write Song';
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: 25%
}

input, button {
    font-family: 'Write Song';
    font-size: 2.3rem;
    font-weight: bold;
    border-radius: 5px;
}

input {
    margin-bottom: 1%;
    text-align: center;
}

.colunas {
    display: grid;
    grid-template-columns: 28% 60%;
}

.botao {
    display: grid;
    grid-template-columns: 30% 45% max-content;
    padding-bottom: 5%;
    padding-top: 3%;
}