h2 {
    font-family: 'Avocado Cake';
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-family: 'Avocado Cake';
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

div {
    font-family: 'Write Song';
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
