header {
    font-family: 'Avocado Cake';
    font-size: 1.8rem;
    font-weight: bold;
    text-align: end;
    padding-bottom: 2%;
}

section {
    font-family: 'Write Song';
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
    margin-left: 38%;
    padding-bottom: 2%;
}

button {
    font-family: 'Write Song';
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5%;
}

.alinhar {
    width: 90%;
    text-align: end;
}