<div class="alinhar">
<header>Deletar esta planta?</header>
<section>
    Tem certeza que deseja deletar essa planta? Uma vez excluída, todos os dados dela serão apagados e não será
    possível recuperá-los!
</section>

<button (click)="openModal('deletar')" type="button">Deletar planta</button>
<jw-modal id="deletar">
    <h1>Tem certeza disso?</h1>
    <button type="submit" (click)="deletarPlanta(id)">Sim</button>
    <button (click)="closeModal('deletar');">Pensando bem...</button>
</jw-modal>
</div>