<div class="content">
    <div class="layout">
        <h2> {{ generoListado }} </h2>

        <div class="botoes">
            <article>
                <button (click)="adicionarPorGenero()"> Adicionar </button>
            </article>

            <article>
                <button class="voltar" routerLink="/generos"> Voltar </button>
            </article>
        </div>

    </div>
    <div *ngFor="let planta of generos" class="margem">
        <a [routerLink]="['../../individual/', planta.id]"> {{ planta.especie }} </a>
    </div>
</div>