input, button {
    font-family: 'Write Song';
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
}

input {
    margin-right: 0.5%;
    color: darkslategray;
}

.flag {
    margin-left: 7px;
    color: rgb(167, 3, 3)
}

.lupa {
    margin-right: 1%;
}