@font-face {
    font-family: Amatic SC;
    src: url('./assets/AmaticSC-Regular.ttf');
}

@font-face {
    font-family: Avocado Cake;
    src: url('./assets/Avocado-Cake-Demo.otf');
}

@font-face {
    font-family: Write Song;
    src: url('./assets/Please-write-me-a-song.ttf');
}