<nav>
    <header class="margem">O que você gostaria de fazer?</header>
    <ul>
        <article>
            <app-buscar></app-buscar>
        </article>

        <article>
            <a (click)="mostrarTudo()" routerLink="ver-tudo">
                <mat-icon class="material-symbols-outlined"> forest </mat-icon>
                Ver lista completa </a>
        </article>

        <article>
            <a routerLink="/generos">
                <mat-icon class="material-symbols-outlined"> forest </mat-icon>
                Ver por gênero </a>
        </article>

        <article>
            <a (click)="adicionar()" routerLink="adicionar">
                <mat-icon class="material-symbols-outlined"> forest </mat-icon>
                Cadastrar uma planta nova </a>
        </article>
    </ul>
    <!--
    <button (click)="mostrarTudo()"> <label *ngIf="!loading">Teste</label>
        <div *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
    </button>
-->
</nav>