nav {
    font-family: 'Avocado Cake';
    font-size: 2.3rem;
    font-weight: bold;
    padding-bottom: 3%;
}

article {
    font-family: 'Write Song';
    font-size: 2.3rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 2%;
}

.margem {
    margin-left: 7%;
}

a {
    color: black;
    margin-left: 3%;
    font-size: 2.8rem;
    text-decoration: none;
}

a:hover{
    color: rgb(55, 92, 92);
    cursor: pointer;
}

form {
    font-family: 'Write Song';
}

select, input {
    font-family: 'Write Song';
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
}

.margem2 {
    
    padding-bottom: 1%;
}

i {
    text-decoration: none;
    padding-left: 1%;
}

li {
    font-family: "Write Song";
}

label {
    font-family: 'Write Song';
    font-size: 2.8rem;
    font-weight: bold;
    margin-left: 3%;
    text-decoration: none;
    padding-bottom: 5%;
}

.material-symbols-outlined {
    color: darkgreen;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}